In [30]:
# drugi zestaw danych
import csv
import pandas as pd
plik = pd.read_csv('tb.csv')
plik

with open('tb.csv', newline='') as f:
    reader = csv.reader(f)
    data = list(reader)

#print(data[1:])
df = pd.DataFrame(data[1:],columns=['Kraj','xd1','xd2','xd2','xd2','xd2','xd2','xd2','xd','xd2','xd2','xd2','xd2','xd2','xd2','xd2','xd2','xd2','xd2','xd2','xd2','xd2','xd2'])
df

,Kraj,xd1,xd2,xd2,xd2,xd2,xd2,xd2,xd,xd2,...,xd2,xd2,xd2,xd2,xd2,xd2,xd2,xd2,xd2,xd2
0,AD,1989,,,,,,,,,...,,,,,,,,,,
1,AD,1990,,,,,,,,,...,,,,,,,,,,
2,AD,1991,,,,,,,,,...,,,,,,,,,,
3,AD,1992,,,,,,,,,...,,,,,,,,,,
4,AD,1993,15,,,,,,,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5764,ZW,2004,14581,,,187,833,2908,2298,1056,...,,,225,1140,2858,1565,622,214,111,
5765,ZW,2005,13155,,,210,837,2264,1855,762,...,,,269,1136,2242,1255,578,193,603,
5766,ZW,2006,12718,,,215,736,2391,1939,896,...,,,237,1020,2424,1355,632,230,96,
5767,ZW,2007,10583,6,132,138,500,3693,0,716,...,7,178,185,739,3311,0,553,213,90,
5768,ZW,2008,9830,,,127,614,0,3316,704,...,,,145,840,0,2890,467,174,105,0